/* This is the styling for laptop and above  */
@media screen and (min-width: 1201px) {
  body {
    background-image: linear-gradient(to right, #decba4, #3e5151);
  }
  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1 1fr, 2 1fr, 3 1fr, 4 1fr;
  }
  #heading_container {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
  }
  #heading_container h1 {
    font-size: 3rem;
    font-variant: small-caps;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
  }
  #heading_container p {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Courier ", Courier, monospace;
    font-weight: 300;
  }

  #alt_fun {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 52%;
  }
  #refresh_page {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  #alt_fun,
  #refresh_page {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1.1rem;
    border-radius: 12px;
    box-shadow: 3px 3px black;
    color: whitesmoke;
    background-color: lightslategray;
    width: 2in;
    height: 30px;
  }

  #input_fields {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
    margin-left: 40%;
  }
  #input_percentage {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_percentage::placeholder {
    padding-left: 10px;
  }

  #input_tax {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_tax::placeholder {
    padding-left: 10px;
  }

  #input_sum {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_sum::placeholder {
    padding-left: 10px;
  }

  #submit {
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 2px 2px black;
    color: whitesmoke;
    background-color: lightslategray;
    width: 1in;
    font-size: 1.1rem;
  }

  .java_injection {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 4;
  }
  #user_sum {
    font-size: 1.3rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    font-variant: small-caps;
  }
  #dialog {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
  }
}

/* This is the styling for tablets in landscape orientation */
@media screen and (min-width: 501px) and (max-width: 1200px) and (orientation: landscape) {
  body {
    background-image: linear-gradient(to right, #decba4, #3e5151);
  }
  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1 1fr, 2 1fr, 3 1fr, 4 1fr;
    place-items: center;
  }
  #heading_container {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
  }
  #heading_container h1 {
    font-size: 2.5rem;
    font-variant: small-caps;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
  }
  #heading_container p {
    font-size: 1.3rem;
    text-align: center;
    font-family: "Courier ", Courier, monospace;
    font-weight: 300;
  }

  #alt_fun {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  #refresh_page {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  #alt_fun,
  #refresh_page {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1.1rem;
    border-radius: 12px;
    box-shadow: 3px 3px black;
    color: whitesmoke;
    background-color: lightslategray;
    width: 2in;
    height: 30px;
  }

  #input_fields {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    place-items: center;
  }
  #input_percentage {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_percentage::placeholder {
    padding-left: 10px;
  }

  #input_tax {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_tax::placeholder {
    padding-left: 10px;
  }

  #input_sum {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_sum::placeholder {
    padding-left: 10px;
  }

  #submit {
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 2px 2px black;
    color: whitesmoke;
    background-color: lightslategray;
    width: 1in;
    font-size: 1.1rem;
  }

  .java_injection {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
  }
  #user_sum {
    font-size: 1.3rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    font-variant: small-caps;
  }
  #dialog {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
  }
}

/* This is the styling for tablets in portrait orientation */
@media screen and (min-width: 501px) and (orientation: portrait) {
  body {
    background-image: linear-gradient(to right, #decba4, #3e5151);
  }
  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1 1fr, 2 1fr, 3 1fr, 4 1fr;
    place-items: center;
  }
  #heading_container {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
  }
  #heading_container h1 {
    font-size: 2rem;
    font-variant: small-caps;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
    text-align: center;

    color: black;
  }
  #heading_container p {
    font-size: 1.1rem;
    text-align: center;
    font-family: "Courier ", Courier, monospace;
    font-weight: 300;
  }

  #alt_fun {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  #refresh_page {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  #alt_fun,
  #refresh_page {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    border-radius: 12px;
    box-shadow: 3px 3px black;
    color: whitesmoke;
    background-color: lightslategray;
  }

  #input_fields {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    place-items: center;
  }
  #input_percentage {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_percentage::placeholder {
    padding-left: 10px;
  }

  #input_tax {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_tax::placeholder {
    padding-left: 10px;
  }

  #input_sum {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_sum::placeholder {
    padding-left: 10px;
  }

  #submit {
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 2px 2px black;
  }

  .java_injection {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
  }
  #user_sum {
    font-size: 1.1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    font-variant: small-caps;
  }
  #dialog {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
  }
}

/* This is the styling for smartphones */

@media screen and (max-width: 500px) {
  body {
    background-image: linear-gradient(to right, #decba4, #3e5151);
  }
  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1 1fr, 2 1fr, 3 1fr, 4 1fr;
    place-items: center;
  }
  #heading_container {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
  }
  #heading_container h1 {
    font-size: 1.5rem;
    font-variant: small-caps;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
    text-align: center;

    color: black;
  }
  #heading_container p {
    font-size: 1rem;
    text-align: center;
    font-family: "Courier ", Courier, monospace;
    font-weight: 300;
  }

  #alt_fun {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  #refresh_page {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  #alt_fun,
  #refresh_page {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    border-radius: 12px;
    box-shadow: 3px 3px black;
    color: whitesmoke;
    background-color: lightslategray;
  }

  #input_fields {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    place-items: center;
  }
  #input_percentage {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_percentage::placeholder {
    padding-left: 10px;
  }

  #input_tax {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_tax::placeholder {
    padding-left: 10px;
  }

  #input_sum {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 7mm;
  }
  #input_sum::placeholder {
    padding-left: 10px;
  }

  #submit {
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 2px 2px black;
  }

  .java_injection {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
  }
  #user_sum {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    font-variant: small-caps;
  }
  #dialog {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
  }
}
